* {
  padding: 0;
  margin: 0;
}

body {
  margin: 50px auto;
  color: white;
}

img {
  width: 60px;
}

li {
  display: flex;
  list-style: none;
  line-height: 20px;
}

ul {
  padding: 0 10px;
  align-items: center;
}

form {
  padding: 0 100px;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.top {
  background: linear-gradient(
    111.6deg,
    rgb(174, 68, 223) 27.3%,
    rgb(246, 135, 135) 112.7%
  );
  display: flex;
  border-radius: 20px;
}

.temp {
  font-size: 30px;
}

.weather-detail {
  margin: 10px 0 20px;
}

.left {
  margin-right: 50px;
}

.current-weather {
}

.seven-day-detail {
  margin: 0 auto;
  text-align: center;
}

.bottom {
  /* margin-top: -70px;*/
  display: flex;
  box-shadow: rgb(37 39 89 / 8%) 0px 10px 9px 0;
  /* background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
  */
  color: black;
  padding: 5px;
  margin: 0 1px;

  text-align: center;
}

.forecast-list ul {
  padding-left: 5px;
}
